<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<configSections>
		<section name="FrameworkConfig" type="ClownFish.Web.Config.FrameworkConfig, ClownFish.Web"/>
	</configSections>
	
	<FrameworkConfig>
		<!--设置404的错误模板页面-->
		<pipeline http404TemplatePagePath="/Page/404DiagnoseResult.aspx"/>
				
		<!--jsonp回调的函数名，下面这个配置就是默认值。-->
		<action jsonpCallback="callback" />
		
		<!--各种静态文件的缓存时间，默认值：js:31536000;css:3600;*:31536000，单位：秒-->
		<staticFileHandler cacheDuration="js:31536000;css:3600;*:31536000" />
		
	</FrameworkConfig>

</configuration>
