<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ClownFish_Authentication_SecretKey" value="475800cd45bb47a38cf0805a82b49fb7#e7cc31b624c7440c99ebe83628f0af45"/>
        <add key="ClownFish_Authentication_LoadUnknownUserType" value="1"/>
    </appSettings>


</configuration>