Thumbs.db
ehthumbs.db
ErrorLog.txt
Desktop.ini
$RECYCLE.BIN/
nuget-pack.cmd

*.cab
*.msi
*.msm
*.msp
*.lnk

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
obj
TestResults
Log111
bin
dll_release
packages
publish

.sonarlint
.apdisk
*.pdb
*.suo
*.user
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
.vs/
.config/
.idea/

