<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<configSections>
		<section name="FrameworkConfig" type="ClownFish.Web.Config.FrameworkConfig, ClownFish.Web"/>
	</configSections>
	
	<FrameworkConfig>
		<!--设置404的错误模板页面-->
		<pipeline http404TemplatePagePath="/Pages/Demo/404DiagnoseResult.aspx"/>
		
		
		<!--jsonp回调的函数名，下面这个配置就是默认值。-->
		<!--<action jsonpCallback="callback" />-->
	</FrameworkConfig>

</configuration>
