<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<!--DataSoureceKind 表示不同的数据访问方式，目前支持三个可选的配置值（注意大小写）：
      1. XmlFile ，表示使用XML文件中的数据，此选项为默认值。
      2. XmlCommand ，表示使用配置文件中的SQL命令去访问SQLSERVER
      3. StoreProcedure ，表示调用SQLSERVER中的存储过程去访问数据库
      你可以修改下面的配置，并结合ClownFishSQLProfiler.exe工具去观察它们的差别。    
    -->
		<add key="DataSoureceKind" value="XmlFile" />
	</appSettings>
	<connectionStrings>
		<clear />
		<add name="MyNorthwind" connectionString="server=localhost\SQLEXPRESS2008R2;database=MyNorthwind;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.5"></compilation>
		<authentication mode="Forms">
			<forms cookieless="UseCookies" name="mvc-user" />
		</authentication>
		<pages enableViewState="false" enableViewStateMac="false" enableSessionState="false" autoEventWireup="false" validateRequest="true" pageParserFilterType="ClownFish.Web.ViewTypeParserFilter, ClownFish.Web" pageBaseType="ClownFish.Web.MyBasePage, ClownFish.Web" userControlBaseType="ClownFish.Web.MyBaseUserControl, ClownFish.Web" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="ClownFish.Web" />
				<add namespace="ClownFish.Web" />
				<add namespace="DEMO.Common" />
				<add namespace="DEMO.Model" />
			</namespaces>
		</pages>
		<httpRuntime requestPathInvalidCharacters="" />
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="AjaxHandlerFactory" verb="*" path="/ajax/*" type="ClownFish.Web.ServiceHandlerFactory, ClownFish.Web" preCondition="integratedMode" />
			<add name="ServiceHandlerFactory" verb="*" path="/svc/*" type="ClownFish.Web.ServiceHandlerFactory, ClownFish.Web" preCondition="integratedMode" />
			<add name="MvcPageHandlerFactory2" verb="*" path="/mvc/*" type="ClownFish.Web.MvcPageHandlerFactory, ClownFish.Web" preCondition="integratedMode" />
			<add name="MvcPageHandlerFactory" verb="*" path="*.aspx" type="ClownFish.Web.MvcPageHandlerFactory, ClownFish.Web" preCondition="integratedMode" />
		</handlers>
		<modules>
			<add name="SetOutputCacheModule" type="ClownFish.Web.SetOutputCacheModule, ClownFish.Web" preCondition="integratedMode" />
			<add name="GzipModule" type="ClownFish.Web.GzipModule, ClownFish.Web" preCondition="integratedMode" />
			<add name="MvcRoutingModule" type="ClownFish.Web.MvcRoutingModule, ClownFish.Web" preCondition="integratedMode" />
			<add name="Http404DebugModule" type="ClownFish.Web.Debug404.Http404DebugModule, ClownFish.Web" preCondition="integratedMode" />
		</modules>
		<httpErrors errorMode="Detailed" />
		<security>
			<requestFiltering allowDoubleEscaping="true"></requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
