<?xml version="1.0" encoding="utf-8"?>
<LogConfig>
    <!--是否启用日志写入功能，总开关-->
    <Enable>true</Enable>
    <!--异步写入的间隔时间，单位：毫秒-->
    <TimerPeriod>100</TimerPeriod>
    <!--性能日志的阀值参数，超过这个阀值将会记录到性能日志中，单位：毫秒-->
    <Performance HttpExecute="1000" HandleMessage="2000" />
    <!-- 日志文件相关配置 -->
    <File RootPath="Logs" MaxLength="200KB" MaxCount="5" />


    <Writers>
        <Writer Name="Xml" Type="ClownFish.Log.Writers.XmlWriter, ClownFish.net" />
        <Writer Name="Json" Type="ClownFish.Log.Writers.JsonWriter, ClownFish.net" />
        <Writer Name="Json2" Type="ClownFish.Log.Writers.Json2Writer, ClownFish.net" />
        <Writer Name="http"  Type="ClownFish.Log.Writers.HttpJsonWriter, ClownFish.net" />
        <Writer Name="ES"    Type="ClownFish.Log.Writers.ElasticsearchWriter, ClownFish.net" />
        <Writer Name="Rabbit2" Type="ClownFish.Log.Writers.RabbitHttpWriter, ClownFish.net" />
        <Writer Name="console" Type="AotTestConsoleApp1.Utils.ConsoleWriter, AotTestConsoleApp1" />
    </Writers>

    <Types>
        <Type DataType="ClownFish.Log.Logging.OprLog, ClownFish.net" Writers="console,NULL" />
        <Type DataType="ClownFish.Log.Logging.InvokeLog, ClownFish.net" Writers="console,NULL" />
    </Types>
</LogConfig>