<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.8"></compilation>
		<authentication mode="Forms">
			<forms cookieless="UseCookies" name="us123xx" />
		</authentication>
		<pages enableViewState="false" enableViewStateMac="false" enableSessionState="false"
               autoEventWireup="false" validateRequest="false" />
        <httpRuntime requestValidationMode="2.0"/>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors errorMode="Detailed" />
        <modules>
            <remove name="ScriptModule-4.0" />
            <remove name="Session" />
            <remove name="RoleManager" />
            <remove name="FileAuthorization" />
            <remove name="Profile" />
        </modules>
	</system.webServer>

</configuration>
