<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="redis_Connection" value="RedisHost,password=Sedrvsg234_ef234_ZFX,connectRetry=1,connectTimeout=3000,responseTimeout=3000,syncTimeout=3000"/>

        <add key="ThreadPool_MinWorker" value="50"/>
    </appSettings>

    <connectionStrings>
        <add name="default" connectionString="server=MsSqlHost;database=MyNorthwind;uid=user1;pwd=qaz1@wsx" providerName="System.Data.SqlClient"/>
        <add name="mysql" connectionString="server=MySqlHost;database=mynorthwind;uid=user1;pwd=qaz1@wsx;AllowLoadLocalInfile=true" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    
</configuration>