<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
      <!--定义一条转发规则，只要URL包含 /v20/api/ ，就将请求转发到 http://10.5.11.29:9912-->
      <add key="proxy-rule-1" value="/v20/api/ = http://10.5.11.29:9912" />

      <!--定义一条转发规则，** 表示所有的请求，最终结果是: 将【前面没有匹配到的】请求转发到 http://tucao.fish-test.com:1088-->
      <add key="proxy-rule-x" value="** = http://tucao.fish-test.com:1088" />

      <!--转发规则说明：
        转发规则格式：key 以 “proxy-rule” 开头，   value 格式： flag = targetUrl 
        所有规则从上到下依次匹配，如果全部匹配失败，就不做转发 --> 
  </appSettings>

	<system.web>
		<compilation debug="false" targetFramework="4.5" />
        <customErrors mode="Off" />
		<httpRuntime targetFramework="4.5" requestPathInvalidCharacters="" enableHeaderChecking="false" enableKernelOutputCache="false" enableVersionHeader="false" sendCacheControlHeader="false" requestValidationMode="2.0" />
	</system.web>


	<system.webServer>
		<!--<validation validateIntegratedModeConfiguration="false" />-->
        <handlers>
            <!--定义一个HTTP请求转发处理器， 
                真实请求的URL需要以请求头  x-target-url: http://www.abc.com/aaa.aspx  的方式指定。
                当请求以 /cors-transfer/ 开头的任何URL时，ProxyTransferHandler会按 x-target-url 请求头中指定的地址执行转发  -->
            <add name="ProxyTransferHandler" path="/cors-transfer/*" verb="*" type="ClownFish.Web.Proxy.ProxyTransferHandler, ClownFish.Web"  preCondition="integratedMode" />
        </handlers>
		<modules>
			<remove name="OutputCache" />
			<remove name="DefaultAuthentication" />
			<remove name="UrlRoutingModule-4.0" />
			<remove name="UrlMappingsModule" />
			<remove name="WindowsAuthentication" />
			<remove name="UrlAuthorization" />
			<remove name="ScriptModule-4.0" />
			<remove name="AnonymousIdentification" />
			<remove name="FormsAuthentication" />
			<remove name="FileAuthorization" />
			<remove name="Profile" />
			<remove name="RoleManager" />
			<remove name="Session" />

            <!--CookieProxyModule 使用 Cookie 维持目标站点地址，实现HTTP请求转发-->
            <add name="CookieProxyModule" type="ClownFish.Web.Proxy.CookieProxyModule, ClownFish.Web" preCondition="integratedMode" />

            <!--HttpProxyModule 使用 appSettings 中配置的转发规则，实现HTTP请求转发。 -->
            <!--<add name="HttpProxyModule" type="ClownFish.Web.Proxy.HttpProxyModule, ClownFish.Web" preCondition="integratedMode" />-->
		</modules>
		<httpErrors errorMode="Detailed" />
		<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
	</system.webServer>

	<!--<system.net>
			<defaultProxy>
				<proxy usesystemdefault="False" bypassonlocal="False" proxyaddress="http://127.0.0.1:8888" />
			</defaultProxy>
	</system.net>-->

</configuration>
