<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--<add key="ClownFish.Web:ReverseProxyModule:TargetSite" value="http://tucao.mingyuanyun.com:1088"/>-->
  </appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" requestPathInvalidCharacters="" />
	</system.web>


	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="OutputCache" />
			<remove name="DefaultAuthentication" />
			<remove name="UrlRoutingModule-4.0" />
			<remove name="UrlMappingsModule" />
			<remove name="WindowsAuthentication" />
			<remove name="UrlAuthorization" />
			<remove name="ScriptModule-4.0" />
			<remove name="AnonymousIdentification" />
			<remove name="FormsAuthentication" />
			<remove name="FileAuthorization" />
			<remove name="Profile" />
			<remove name="RoleManager" />
			<remove name="Session" />

			<add name="ReverseProxyModule" type="ClownFish.Web.Proxy.ReverseProxyModule, ClownFish.Web" preCondition="integratedMode" />
		</modules>
		<httpErrors errorMode="Detailed" />
		<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
	</system.webServer>

	<!--<system.net>
			<defaultProxy>
				<proxy usesystemdefault="False" bypassonlocal="False" proxyaddress="http://127.0.0.1:8888" />
			</defaultProxy>
	</system.net>-->

</configuration>
