<?xml version="1.0" encoding="utf-8"?>
<ArrayOfXmlCommand xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <XmlCommand Name="DeleteCustomer">
        <Parameters>
            <Parameter Name="@CustomerID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[delete from Customers where CustomerID = @CustomerID]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetCustomerById">
        <Parameters>
            <Parameter Name="@CustomerID" Type="Int32" Size="50" />
        </Parameters>
        <CommandText><![CDATA[select * from Customers where CustomerID = @CustomerID]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetCustomerByName">
        <Parameters>
            <Parameter Name="@CustomerName" Type="String" Size="50" />
        </Parameters>
        <CommandText><![CDATA[select * from Customers where CustomerName = @CustomerName]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetCustomerList">
        <Parameters>
            <Parameter Name="@MaxCustomerID" Type="Int32" />
        </Parameters>
        <CommandText>
            <![CDATA[select * from Customers where CustomerID <= @MaxCustomerID order by CustomerID]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="InsertCustomer">
        <Parameters>
            <Parameter Name="@CustomerName" Type="String" Size="50" />
            <Parameter Name="@ContactName" Type="String" Size="50" />
            <Parameter Name="@Address" Type="String" Size="50" />
            <Parameter Name="@PostalCode" Type="String" Size="10" />
            <Parameter Name="@Tel" Type="String" Size="50" />
        </Parameters>
        <CommandText><![CDATA[
insert into Customers (CustomerName, ContactName, Address, PostalCode, Tel)
values (@CustomerName,@ContactName,@Address,@PostalCode,@Tel);
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="UpdateCustomer">
        <Parameters>
            <Parameter Name="@CustomerName" Type="String" Size="50" />
            <Parameter Name="@ContactName" Type="String" Size="50" />
            <Parameter Name="@Address" Type="String" Size="50" />
            <Parameter Name="@PostalCode" Type="String" Size="10" />
            <Parameter Name="@Tel" Type="String" Size="50" />
            <Parameter Name="@CustomerID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
update Customers set 
CustomerName = @CustomerName, ContactName = @ContactName, Address = @Address, PostalCode = @PostalCode, Tel = @Tel
Where  CustomerID = @CustomerID
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetCustomerListById">
        <Parameters />
        <CommandText><![CDATA[select * from {table} where CustomerID in ({CustomerID})]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="FindCustomers">
        <Parameters />
        <CommandText><![CDATA[select * from {table} where CustomerID in ({CustomerID}) and {filter}]]></CommandText>
    </XmlCommand>
</ArrayOfXmlCommand>