@{
    Layout = "_Layout.cshtml";
    Page.Title = "商品分类管理";
    var model = this.Model as CategoriesPageModel;
}

@section scripts {
    @Html.Raw(UiHelper.RefJsFileHtml("/static/js/MyPage/Categories.js"))
}


<p><a id="btnCreateItem" href="#" class="easyui-linkbutton" iconcls="icon-add">创建商品分类</a></p>

<table class="GridView" cellspacing="0" cellpadding="4" border="0" style="border-collapse:collapse;">
    <tr align="left">
        <th style="width:20px;">&nbsp;</th>
        <th style="width:530px;">分类名称</th>
    </tr>

    @foreach( Category category in model.List ) {
    <tr>
        <td>
            <a href="/ajax/ns/Category/Delete.aspx?id=@category.CategoryID"
               title="删除" class="easyui-linkbutton" plain="true">
                <img src="/static/Images/delete.gif" alt="删除" />
            </a>
        </td>

        <td>
            <a href="javascript:;" class="easyui-linkbutton" rowid="@category.CategoryID"
               plain="true" iconcls="icon-open">@category.CategoryName</a>
        </td>
    </tr>
    }

</table>


<div id="divAddItem" title="商品分类" style="padding: 8px; display: none">

    <table cellpadding="4" border="0px">
        <tr>
            <td style="width: 80px">分类名称</td>
            <td><input name="CategoryName" type="text" maxlength="20" id="txtCategoryName" class="myTextbox w300" /></td>
        </tr>
    </table>

</div>


