@{
    Layout = "_Layout.cshtml";
    Page.Title = "查看源代码";
}

@section head {
    <link type="text/css" rel="Stylesheet" href="/static/js/syntaxhighlighter/shCore.css" />
    <link type="text/css" rel="Stylesheet" href="/static/js/syntaxhighlighter/shThemeDefault.css" />
}

@section scripts {
    <script type="text/javascript" src="/static/js/syntaxhighlighter/shCore.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/shBrushCSharp.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/shBrushCss.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/shBrushJScript.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/shBrushSql.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/shBrushXml.js"></script>
	@Html.Raw(UiHelper.RefJsFileHtml("/static/js/MyPage/CodeExplorer.js"))
}

<div id="divExplorerContainer" style="width: 100%; overflow: hidden;">
    <div class="easyui-layout" fit="true" id="divExplorer">
        <div region="west" id="divFolder" split="true" title="文件夹／文件" style="width:240px;">
            <ul id="fileFolderTree"></ul>
        </div>

        <div region="center" id="divFileBody" title="文件源代码">
        </div>
    </div>
</div>