<?xml version="1.0" encoding="utf-8"?>
<LogConfig>
    <!--是否启用日志写入功能，总开关-->
    <Enable>true</Enable>
    <!--异步写入的间隔时间，单位：毫秒-->
    <TimerPeriod>100</TimerPeriod>
    <!--性能日志的阀值参数，超过这个阀值将会记录到性能日志中，单位：毫秒-->
    <Performance HttpExecute="1000" HandleMessage="2000" />
    <!-- 日志文件相关配置 -->
    <File RootPath="Logs" MaxLength="200KB" MaxCount="5" />


    <Writers>
        <!--定义一些默认的写入器-->
        <Writer Name="Xml" Type="ClownFish.Log.Writers.XmlWriter, ClownFish.net" />
        <Writer Name="Json" Type="ClownFish.Log.Writers.JsonWriter, ClownFish.net" />
        <Writer Name="Json2" Type="ClownFish.Log.Writers.Json2Writer, ClownFish.net" />
        <Writer Name="http"  Type="ClownFish.Log.Writers.HttpJsonWriter, ClownFish.net" />

        <Writer Name="Mem" Type="ClownFish.UnitTest.Log.Writers.MemoryWriter, ClownFish.UnitTest" />
        <Writer Name="Err" Type="ClownFish.UnitTest.Log.Writers.ErrorWriter, ClownFish.UnitTest" />
    </Writers>

    <Types>
        <!--定义支持的数据类型，并为每种数据类型配置使用哪种写入器，
      如果某个数据类型同时指定了多个写入器，将会以不同的持久化方式同时记录多次-->

        <Type DataType="ClownFish.Log.Logging.OprLog, ClownFish.net" Writers="Xml,Json" />
        <Type DataType="ClownFish.Log.Logging.InvokeLog, ClownFish.net" Writers="Xml,Json,Json2,http" />

        <!--### 注意：数据类型使用哪种写入器，必须定义，否则Nebula.net不知道该如何记录它们！-->
        <Type DataType="ClownFish.UnitTest.Log.Writers.XMessage, ClownFish.UnitTest" Writers="mem,NULL" />
        <Type DataType="ClownFish.UnitTest.Log.Writers.ErrorMessage, ClownFish.UnitTest" Writers="err,NULL" />
    </Types>
</LogConfig>