<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ConfigServiceUrl" value="http://LinuxTest:8503"/>
        <add key="ThreadPool_MinWorker" value="50"/>
        <add key="key1" value="abcd"/>
        <add key="key2" value="1234"/>
        <add key="key2b" value="-1234"/>
        <add key="key3" value="name=FishDbServer;value=admin;"/>
        <add key="aa.bb.cc" value="123456"/>
        <add key="key_test_setting" value="123456789"/>
        
        <add key="bool_1" value="1"/>
        <add key="bool_2" value="True"/>
        <add key="bool_3" value="0"/>
        <add key="bool_4" value=""/>

        <add key="Environment.Key" value="a5431626-00df-44bd-bb35-f8f108f9ccfa" />
        <add key="es_config" value="server=ElasticHost"/>
        <add key="rabbit_config" value="server=RabbitHost;username=fishli;password=xxxxxxxxxxx;vhost=nbtest"/>


        <!-- 下面这些配置故意将缓存时间设置的比较短，用于检验一些并发问题 -->
        <add key="ClownFish.CacheDictionary.ExpirationScanFrequency" value="2"/>
        <add key="ClownFish_AppCache_CacheSeconds" value="2"/>

        <add key="ClownFish_Log_MaxCacheQueueLength" value="10"/>
        <add key="ClownFish_Log_WriteListBatchSize" value="5"/>
        <add key="ClownFish_Log_HttpWriterClient_MaxQueueLength" value="10"/>
        <add key="ClownFish_Log_HttpWriterClient_WaitMillisecond" value="100"/>

        <add key="ClownFish_Aspnet_RequestBufferSize" value="8192"/>
        <add key="ClownFish_Log_Http_All" value="1"/>
        <add key="ClownFish_LogLimit_SQL_CommandTextMaxLen" value="200"/>
        <add key="ClownFish_LogLimit_SQL_ParametersMaxCount" value="10"/>
        <add key="ClownFish_LogLimit_SQL_ParamValueMaxLen" value="128"/>
        <add key="ClownFish_Log_LogUserAgent" value="1"/>
    </appSettings>

    <connectionStrings>
        <add name="sqlserver" providerName="System.Data.SqlClient"
			 connectionString="server=MsSqlHost;database=MyNorthwind;uid=user1;pwd=qaz1@wsx"/>
        
        <add name="mysql" providerName="MySql.Data.MySqlClient"
			 connectionString="server=MySqlHost;database=MyNorthwind;uid=user1;pwd=qaz1@wsx"/>

        <add name="mysql2" providerName="MySql.Data.MySqlClient"
			 connectionString="Server=MySqlHost;Database=MyNorthwind;Uid=user1;Pwd=qaz1@wsx;Allow Zero Datetime=True;Convert Zero Datetime=True;"/>

        <add name="postgresql" providerName="Npgsql"
            connectionString="Host=PgSqlHost;database=mynorthwind;port=15432;Username=postgres;Password=1qaz7410"/>

        <add name="sqlserver22" connectionString="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"/>
        <add name="" connectionString="aaaaaaaaaaaaaaaaaaaa"/>

        <add name="dm" providerName="Dm"
			 connectionString="server=PgSqlHost;port=15236;user=SYSDBA;password=SYSDBA001;schema=MyNorthwind"/>

        <add name="sqlserver2" providerName="System.Data.SqlClient"
			 connectionString="server=MsSqlHost;database=MyNorthwind;uid=user1;pwd=qaz1@wsx"/>

        <add name="sqlserver.2" providerName="System.Data.SqlClient"
			 connectionString="server=MsSqlHost;database=MyNorthwind;uid=user1;pwd=qaz1@wsx"/>        
    </connectionStrings>

    <dbConfigs>
        <add name="master" dbType="SQLSERVER" server="MsSqlHost" database="MyNorthwind" uid="user1" pwd="qaz1@wsx" args="" />
        <add name="s1" dbType="SQLSERVER" server="MsSqlHost" database="MyNorthwind" uid="user1" pwd="qaz1@wsx" args="" />
        <add name="s2" dbType="SQLSERVER" server="MsSqlHost" database="MyNorthwind" uid="user1" pwd="qaz1@wsx" args="" />
        <add name="m1" dbType="MySQL" server="MySqlHost" database="MyNorthwind" uid="user1" pwd="qaz1@wsx" args="" />
        <add name="m2" dbType="MySQL" server="MySqlHost" database="MyNorthwind" uid="user1" pwd="qaz1@wsx" args="Allow Zero Datetime=True;Convert Zero Datetime=True;" />
        <add name="pg1" dbType="PostgreSQL" server="PgSqlHost" port="15432" database="mynorthwind" uid="postgres" pwd="1qaz7410" args="" />
        <add name="dm1" dbType="DaMeng" server="PgSqlHost" port="15236" database="MyNorthwind" uid="SYSDBA" pwd="SYSDBA001" args="" />
        <add name="dm.2" dbType="DaMeng" server="PgSqlHost" port="15236" database="MyNorthwind" uid="SYSDBA" pwd="SYSDBA001" args="" />

        <add name="tenant_xsql_my57a04574bf635" dbType="SQLSERVER" server="MsSqlHost" database="MyNorthwind" uid="user1" pwd="qaz1@wsx" args="" />
        <add name="tenant_xsql_my57a197beed7d2_readonly" dbType="SQLSERVER" server="MsSqlHost" database="MyNorthwind" uid="user1" pwd="qaz1@wsx" args="" />
        <add name="es_conn" dbType="Elasticsearch" server="localpc" port="12345" database="xx" uid="root" pwd="xxxx" />
    </dbConfigs>
</configuration>