<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.net>
		<mailSettings>
			<smtp>
				<!--如果要测试邮件功能，请先修改 App.config 配置邮件发送帐号-->
				<!--<network host="mail.xxxxx.com.cn" port="25" userName="tucao@111.com.cn" password ="111111" />-->
			</smtp>
		</mailSettings>
	</system.net>
</configuration>