<?xml version="1.0" encoding="utf-8"?>
<LogConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enable>true</Enable>
  <TimerPeriod>100</TimerPeriod>
  <Writers>
    <Writer Name="File" Type="ClownFish.Log.Serializer.FileWriter, ClownFish.Log">
      <Option Key="RootDirectory" Value="Log" />
    </Writer>
    <Writer Name="Json" Type="ClownFish.Log.Serializer.JsonWriter, ClownFish.Log">
      <Option Key="RootDirectory" Value="JsonLog" />
    </Writer>
    <Writer Name="Mail" Type="ClownFish.Log.Serializer.MailWriter, ClownFish.Log">
      <!--如果要测试邮件功能，请先修改 App.config 配置邮件发送帐号-->
      <Option Key="Receivers" Value="aaaaaa@mysoft.com.cn" />
    </Writer>
    <Writer Name="MongoDb" Type="ClownFish.Log.Serializer.MongoDbWriter, ClownFish.Log">
      <Option Key="ConnectionString" Value="mongodb://10.5.106.100/Test?connectTimeout=5s;socketTimeout=5s" />
    </Writer>
    <Writer Name="Msmq" Type="ClownFish.Log.Serializer.MsmqWriter, ClownFish.Log">
      <Option Key="RootPath" Value=".\private$\ClownFish-Log-test" />
    </Writer>
    <Writer Name="WinLog" Type="ClownFish.Log.Serializer.WinLogWriter, ClownFish.Log">
      <Option Key="LogName" Value="ClownFish-Log" />
      <Option Key="SourceName" Value="ClownFish-Log-Message" />
    </Writer>
  </Writers>
  <Types>
    <!--<Type DataType="ClownFish.Log.Model.ExceptionInfo, ClownFish.Log" Writers="MongoDb,File,Msmq,WinLog" />
    <Type DataType="ClownFish.Log.Model.PerformanceInfo, ClownFish.Log" Writers="MongoDb,File,Msmq,WinLog" />-->
    <Type DataType="ClownFish.Log.Model.ExceptionInfo, ClownFish.Log" Writers="File,Json" />
    <Type DataType="ClownFish.Log.Model.PerformanceInfo, ClownFish.Log" Writers="File,Json" />
  </Types>
  <Performance DbExecuteTimeout="3" HttpExecuteTimeout="3" />
  <ExceptionWriter>WinLog</ExceptionWriter>
</LogConfig>