<?xml version="1.0" encoding="utf-8"?>
<LogConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Enable>true</Enable>
    <TimerPeriod>100</TimerPeriod>
    <Performance DbExecuteTimeout="500" HttpExecuteTimeout="1000" />
    <ExceptionWriter>WinLog</ExceptionWriter>
    <LogEnvironmentInfo>false</LogEnvironmentInfo>
    
    <Writers>
        <Writer Name="File" Type="ClownFish.Log.Serializer.FileWriter, ClownFish.Log">
            <Option Key="RootDirectory" Value="Log" />
        </Writer>
        <Writer Name="Json" Type="ClownFish.Log.Serializer.JsonWriter, ClownFish.Log">
            <Option Key="RootDirectory" Value="JsonLog" />
        </Writer>
        <Writer Name="Mail" Type="ClownFish.Log.Serializer.MailWriter, ClownFish.Log">
            <!--如果要测试邮件功能，请先修改 App.config 配置邮件发送帐号-->
            <Option Key="Receivers" Value="aaaaaa@mysoft.com.cn" />
        </Writer>
        <Writer Name="MongoDb" Type="ClownFish.Log.Serializer.MongoDbWriter, ClownFish.Log">
            <Option Key="ConnectionString" Value="mongodb://10.5.106.100/Test?connectTimeout=5s;socketTimeout=5s" />
        </Writer>
        <Writer Name="Msmq" Type="ClownFish.Log.Serializer.MsmqWriter, ClownFish.Log">
            <Option Key="RootPath" Value=".\private$\ClownFish-Log-test" />
        </Writer>
        <Writer Name="WinLog" Type="ClownFish.Log.Serializer.WinLogWriter, ClownFish.Log">
            <Option Key="LogName" Value="ClownFish-LogTest" />
            <Option Key="SourceName" Value="ClownFish" />
        </Writer>

        <Writer Name="Http" Type="ClownFish.Log.Serializer.HttpWriter, ClownFish.Log">
            <!--服务端接收网址-->
            <Option Key="url" Value="http://www.fish-test.com:50003/log-http.aspx" />
            <!--消息对象的序列化格式，可参考ClownFish.Base.Http.SerializeFormat枚举中的定义范围，建议选择：Json or Xml-->
            <Option Key="format" Value="Xml" />
            <!--指标消息类型的 x-datatype 参数是否放在请求头中，0指示放在URL中，默认值：1 -->
            <Option Key="datatype-in-header" Value="1" />

            <!--发送请求失败的重试次数，0表示不需要重试-->
            <Option Key="retry-count" Value="2" />
            <!--发送请求失败的重试时间间隔，单位：毫秒-->
            <Option Key="retry-wait-millisecond" Value="100" />

            <!--随HTTP请求附加的查询字符串参数，参数名：appid，参数值：testapp-->
            <Option Key="querystring:appid" Value="testapp" />
            <!--随HTTP请求附加的查询字符串参数，参数名：customerid，参数值：11111111-->
            <Option Key="querystring:customerid" Value="11111111" />
            <!--随HTTP请求附加的请求头参数，请求头名称：x-test，参数值：222222222-->
            <Option Key="header:x-test" Value="222222222" />
        </Writer>
    </Writers>
    <Types>
        <!--<Type DataType="ClownFish.Log.Model.ExceptionInfo, ClownFish.Log" Writers="MongoDb,File,Msmq,WinLog" />
        <Type DataType="ClownFish.Log.Model.PerformanceInfo, ClownFish.Log" Writers="MongoDb,File,Msmq,WinLog" />-->
        <Type DataType="ClownFish.Log.Model.ExceptionInfo, ClownFish.Log" Writers="File,Json,Http,WinLog" />
        <Type DataType="ClownFish.Log.Model.PerformanceInfo, ClownFish.Log" Writers="File,Json" />
        <Type DataType="ClownFish.Log.Model.HttpRequestData, ClownFish.Log" Writers="File" />
        <Type DataType="ClownFish.Log.Model.WarningInfo, ClownFish.Log" Writers="File" />
    </Types>    
</LogConfig>