<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ConfigServiceUrl" value="http://LinuxTest:8503"/>
        <add key="key1" value="abcd"/>
        <add key="key2" value="1234"/>
        <add key="key2b" value="-1234"/>
        <add key="key3" value="name=FishDbServer;value=admin;"/>
        <add key="aa.bb.cc" value="123456"/>

        <add key="bool_1" value="1"/>
        <add key="bool_2" value="True"/>
        <add key="bool_3" value="0"/>
        <add key="bool_4" value=""/>

        <add key="Nebula_Environment_Key" value="a5431626-00df-44bd-bb35-f8f108f9ccfa" />


        <!-- 下面这些配置故意将缓存时间设置的比较短，用于检验一些并发问题 -->
        <add key="Nebula_ConfigClient_SettingsCacheSeconds" value="1"/>
        <add key="Nebula_ConfigClient_DbConfigCacheSeconds" value="1"/>
        <add key="Nebula_ConfigClient_TenantCacheSeconds" value="1"/>
        <add key="ClownFish_CacheDictionary_ExpirationScanFrequency" value="2"/>
        <add key="ClownFish_AppCache_CacheSeconds" value="2"/>

        <add key="ClownFish_Log_MaxCacheQueueLength" value="10"/>
        <add key="ClownFish_Log_HttpWriterClient_MaxQueueLength" value="10"/>
        <add key="ClownFish_Log_HttpWriterClient_WaitMillisecond" value="100"/>

        <add key="ClownFish_Log_HttpAll" value="1"/>
        <add key="ClownFish_LogLimit_SQL_CommandTextMaxLen" value="200"/>
        <add key="ClownFish_LogLimit_SQL_ParametersMaxCount" value="10"/>
        <add key="ClownFish_LogLimit_SQL_ParamValueMaxLen" value="128"/>
    </appSettings>

    <connectionStrings>
        <add name="sqlserver" providerName="System.Data.SqlClient"
			 connectionString="server=MsSqlHost;database=MyNorthwind;uid=user1;pwd=qaz1@wsx"/>

    </connectionStrings>

    <dbConfigs>
        <add name="master" dbType="SQLSERVER" server="MsSqlHost" database="MyNorthwind" uid="user1" pwd="qaz1@wsx" args="" />
        <add name="s1" dbType="SQLSERVER" server="MsSqlHost" database="MyNorthwind" uid="user1" pwd="qaz1@wsx" args="" />
        <add name="s2" dbType="SQLSERVER" server="MsSqlHost" database="MyNorthwind" uid="user1" pwd="qaz1@wsx" args="" />       

    </dbConfigs>
</configuration>