USE [MyNorthwind]
GO


CREATE TABLE [TestGuid](
    [RowIndex] [int] IDENTITY(1,1) NOT NULL,
	[IntValue] [int] NOT NULL,
	[RowGuid] UniqueIdentifier NOT NULL,     
    CONSTRAINT [PK_TestGuid] PRIMARY KEY CLUSTERED 
    (
        [RowIndex] ASC
    )
) 
GO

/****** Object:  Table [dbo].[Categories]    Script Date: 2019/7/19 20:43:29 ******/
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)
)
GO



/****** Object:  Table [dbo].[Customers]    Script Date: 2019/7/19 20:43:29 ******/
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[ContactName] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Tel] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)
)
GO



/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2019/7/19 20:43:29 ******/
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)
)
GO


/****** Object:  Table [dbo].[Orders]    Script Date: 2019/7/19 20:43:29 ******/
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [datetime] NOT NULL,
	[SumMoney] [money] NOT NULL,
	[Comment] [nvarchar](300) NULL,
	[Finished] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)
)
GO


/****** Object:  Table [dbo].[Products]    Script Date: 2019/7/19 20:43:29 ******/
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Remark] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)
)
GO


/****** Object:  Table [dbo].[TestTable1]    Script Date: 2019/7/19 20:43:29 ******/
CREATE TABLE [dbo].[TestTable1](
	[rid] [int] IDENTITY(1,1) NOT NULL,
	[intA] [int] NOT NULL,
	[timeA] [datetime] NOT NULL,
	[moneyA] [money] NOT NULL,
	[stringA] [nvarchar](50) NOT NULL,
	[boolA] [bit] NOT NULL,
	[guidA] [uniqueidentifier] NOT NULL,
	[intB] [int] NULL,
	[moneyB] [money] NULL,
	[guidB] [uniqueidentifier] NULL,
	[shortB] [smallint] NULL,
	[charA] [nchar](1) NOT NULL,
	[charB] [nchar](1) NULL,
	[img] [varbinary](max) NULL,
	[g2] [uniqueidentifier] NOT NULL,
	[ts] [timestamp] NOT NULL,
 CONSTRAINT [PK_TestTable1] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)
)
GO


/****** Object:  Table [dbo].[TestType]    Script Date: 2019/7/19 20:43:29 ******/
CREATE TABLE [dbo].[TestType](
	[Rid] [int] IDENTITY(1,1) NOT NULL,
	[StrValue] [nvarchar](255) NOT NULL,
	[Str2Value] [nvarchar](255) NULL,
	[TextValue] [nvarchar](max) NOT NULL,
	[Text2Value] [nvarchar](max) NULL,
	[IntValue] [int] NOT NULL,
	[Int2Value] [int] NULL,
	[ShortValue] [smallint] NOT NULL,
	[Short2Value] [smallint] NULL,
	[LongValue] [bigint] NOT NULL,
	[Long2Value] [bigint] NULL,
	[CharValue] [char](1) NOT NULL,
	[Char2Value] [char](1) NULL,
	[BoolValue] [bit] NOT NULL,
	[Bool2Value] [bit] NULL,
	[TimeValue] [datetime] NOT NULL,
	[Time2Value] [datetime] NULL,
	[DecimalValue] [money] NOT NULL,
	[Decimal2Value] [money] NULL,
	[FloatValue] [real] NOT NULL,
	[Float2Value] [real] NULL,
	[DoubleValue] [float] NOT NULL,
	[Double2Value] [float] NULL,
	[GuidValue] [uniqueidentifier] NOT NULL,
	[Guid2Value] [uniqueidentifier] NULL,
	[ByteValue] [tinyint] NOT NULL,
	[Byte2Value] [tinyint] NULL,
--	[SByteValue] [tinyint] NOT NULL,
--	[SByte2Value] [tinyint] NULL,
	[TimeSpanValue] [time] NOT NULL,
	[TimeSpan2Value] [time] NULL,
	[WeekValue] [int] NOT NULL,
	[Week2Value] [int] NULL,
	[BinValue] [varbinary](max) NOT NULL,
	[Bin2Value] [varbinary](max) NULL,
--	[UShortValue] [smallint] NOT NULL,
--	[UShort2Value] [smallint] NULL,
--	[UIntValue] [int] NOT NULL,
--	[UInt2Value] [int] NULL,
--	[ULongValue] [bigint] NOT NULL,
--	[ULong2Value] [bigint] NULL
)
GO



SET IDENTITY_INSERT Categories ON 
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'手机')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'MP3/4')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'U盘')
SET IDENTITY_INSERT Categories OFF
GO


SET IDENTITY_INSERT Customers ON 
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [ContactName], [Address], [PostalCode], [Tel]) VALUES (1, N'上海天民信息技术有限公司', N'吴伟谊', N'桂平路471号6号楼5楼', N'430000', N'54500599')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [ContactName], [Address], [PostalCode], [Tel]) VALUES (2, N'上海黎敏交通设施器材有限公司', N'倪广德', N'上海市青浦区华新镇纪鹤公路3369号', N'430000', N'021-39790193')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [ContactName], [Address], [PostalCode], [Tel]) VALUES (3, N'上海天骥（佳速空运）货运代理有限公司', N'吴娟', N'吴中路2768弄5号仓库', N'430000', N'021－64598989')
SET IDENTITY_INSERT Customers OFF
GO


INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [UnitPrice], [Quantity]) VALUES (1, 2, 4400.0000, 5)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [UnitPrice], [Quantity]) VALUES (1, 3, 4550.0000, 4)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [UnitPrice], [Quantity]) VALUES (1, 157, 51.5000, 3)
GO


SET IDENTITY_INSERT Orders ON 
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [SumMoney], [Comment], [Finished]) VALUES (1, 1, CAST(N'2010-12-30T10:16:26.580' AS DateTime), 40971.3000, N'已对 C# 编译器进行了多处改进，以便消除不符合语言规范的地方。其中一些改进是重大更改，而其他改进则只是软件更新或增强。有关重大更改的更多信息，请参见 Visual C# 2008 重大更改。有关在 Service Pack 1 中修复的其他 Bug 的更多信息，请参见 Visual Studio 2008 Service Pack 1 Beta for Visual C# 更改及已修复问题列表。', 0)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [SumMoney], [Comment], [Finished]) VALUES (2, 3, CAST(N'2010-12-30T10:16:51.373' AS DateTime), 405.0000, N'Visual C# 2008 Service Pack 1 引入了一个新功能 - 实时语义错误，该功能可提供更为完整的一组关于代码的错误信息。此功能检查以前仅在生成后报告的表达式级错误。在您编写代码时，该功能用红色波浪下划线突出显示错误。有关波浪下划线的更多信息，请参见编辑代码 (Visual C#)。', 0)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [SumMoney], [Comment], [Finished]) VALUES (3, 5, CAST(N'2010-12-30T10:17:20.560' AS DateTime), 1166.0000, N'在 Visual Studio 的早期版本中，仅用打开文件内的任务注释填充任务列表。在 Visual Studio 2008 Service Pack 1 中，C# 集成开发环境 (IDE) 显示解决方案中所有打开的及关闭的文件中的任务注释。有关更多信息，请参见如何：创建任务列表注释。', 0)
SET IDENTITY_INSERT Orders OFF
GO



SET IDENTITY_INSERT Products ON 
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Unit], [UnitPrice], [Remark], [Quantity]) VALUES (1, N'四钻 iphone 8GB 3G美版，送卡贴！', 1, N'个', 4450.0000, N'', 78)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Unit], [UnitPrice], [Remark], [Quantity]) VALUES (2, N'iPhone 苹果 3G 8G版另有16G 只售全新机电话13810670132', 1, N'个', 4400.0000, N'', 35)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Unit], [UnitPrice], [Remark], [Quantity]) VALUES (3, N'【双钻信誉】完美原装iPhone 3G 8g 送卡帖【超值热卖】好漂亮哦', 1, N'个', 4550.0000, N'', 75)
SET IDENTITY_INSERT Products OFF
GO
GO



/****** Object:  Index [IX_CategoryID]    Script Date: 2019/7/19 20:43:29 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Products]
(
	[CategoryID] ASC
)
GO

ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Finished]  DEFAULT ((0)) FOR [Finished]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Unit]  DEFAULT ('个') FOR [Unit]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Amount]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[TestTable1] ADD  CONSTRAINT [DF_TestTable1_intA]  DEFAULT ((0)) FOR [intA]
GO
ALTER TABLE [dbo].[TestTable1] ADD  CONSTRAINT [DF_TestTable1_timeA]  DEFAULT (getdate()) FOR [timeA]
GO
ALTER TABLE [dbo].[TestTable1] ADD  CONSTRAINT [DF_TestTable1_moneyA]  DEFAULT ((0)) FOR [moneyA]
GO
ALTER TABLE [dbo].[TestTable1] ADD  CONSTRAINT [DF_TestTable1_stringA]  DEFAULT ('') FOR [stringA]
GO
ALTER TABLE [dbo].[TestTable1] ADD  CONSTRAINT [DF_TestTable1_boolA]  DEFAULT ((0)) FOR [boolA]
GO
ALTER TABLE [dbo].[TestTable1] ADD  CONSTRAINT [DF_TestTable1_guidA]  DEFAULT (newid()) FOR [guidA]
GO
ALTER TABLE [dbo].[TestTable1] ADD  CONSTRAINT [DF_TestTable1_charA]  DEFAULT ('') FOR [charA]
GO
ALTER TABLE [dbo].[TestTable1] ADD  CONSTRAINT [DF_TestTable1_g2]  DEFAULT (newsequentialid()) FOR [g2]
GO

/* ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO */


/****** Object:  View [dbo].[OrderDetailView]    Script Date: 2019/7/19 20:43:29 ******/
CREATE VIEW [dbo].[OrderDetailView]
AS
SELECT     dbo.[OrderDetails].*, dbo.Products.ProductName, dbo.Products.Unit
FROM         dbo.[OrderDetails] INNER JOIN
                      dbo.Products ON dbo.[OrderDetails].ProductID = dbo.Products.ProductID
GO


/****** Object:  View [dbo].[OrdersView]    Script Date: 2019/7/19 20:43:29 ******/
CREATE VIEW [dbo].[OrdersView]
AS
SELECT     dbo.Orders.OrderID, dbo.Orders.CustomerID, dbo.Orders.OrderDate, dbo.Orders.SumMoney, dbo.Orders.Finished, 
                      ISNULL(dbo.Customers.CustomerName, N'') AS CustomerName
FROM         dbo.Orders LEFT OUTER JOIN
                      dbo.Customers ON dbo.Orders.CustomerID = dbo.Customers.CustomerID
GO







/****** Object:  StoredProcedure [dbo].[InsertCustomer]    Script Date: 2019/7/19 20:43:29 ******/
create procedure [dbo].[InsertCustomer]( 
    @CustomerName nvarchar(50), 
    @ContactName nvarchar(50), 
    @Address nvarchar(50), 
    @PostalCode nvarchar(10), 
    @Tel nvarchar(50) ,
	@CustomerID int output
) 
as
begin
insert into Customers (CustomerName, ContactName, [Address], PostalCode, Tel) 
values( @CustomerName, @ContactName, @Address, @PostalCode, @Tel);

set @CustomerID = scope_identity();

end
GO


/****** Object:  StoredProcedure [dbo].[GetCustomerById]    Script Date: 2019/7/19 20:43:29 ******/
create procedure [dbo].[GetCustomerById](
	@CustomerID int
)
as
select * from Customers where CustomerID = @CustomerID;
GO



/****** Object:  StoredProcedure [dbo].[UpdateCustomer]    Script Date: 2019/7/19 20:43:29 ******/
create procedure [dbo].[UpdateCustomer](  
    @CustomerName nvarchar(50),  
    @ContactName nvarchar(50),  
    @Address nvarchar(50),  
    @PostalCode nvarchar(10),  
    @Tel nvarchar(50),  
    @CustomerID int
)  
as
update Customers  
set CustomerName = @CustomerName,  
    ContactName = @ContactName,  
    [Address] = @Address,  
    PostalCode = @PostalCode,  
    Tel = @Tel  
where CustomerID = @CustomerID;
GO



/****** Object:  StoredProcedure [dbo].[DeleteCustomer]    Script Date: 2019/7/19 20:43:29 ******/
create procedure [dbo].[DeleteCustomer](
	@CustomerID int
)
as
delete from Customers
where CustomerID = @CustomerID;
GO




/****** Object:  StoredProcedure [dbo].[GetCustomerList]    Script Date: 2019/7/19 20:43:29 ******/
create procedure [dbo].[GetCustomerList](
    @SearchWord nvarchar(50),
    @PageIndex int = 0,
    @PageSize int = 20,
    @TotalRecords int output
)
as
begin
 
set @SearchWord = N'%' + @SearchWord + N'%';

      
select  @TotalRecords = count(*) 
from  Customers as c
where c.CustomerName like @SearchWord;


select * from(
	select row_number() over (order by c.CustomerID asc) as RowIndex, c.*
	from   Customers as c
) as t
where  t.RowIndex > (@PageSize * @PageIndex) and t.RowIndex <= (@PageSize * (@PageIndex+1));
    
end;
GO



