<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>


	<system.webServer>
		<handlers>
			<add name="ProxyTransferHandler" path="/cors-transfer/*" verb="*" type="ClownFish.Web.Proxy.ProxyTransferHandler, ClownFish.Web"  preCondition="integratedMode" />
		</handlers>
	</system.webServer>

	<!--<system.net>
		<defaultProxy>
			<proxy usesystemdefault="False" bypassonlocal="False"  proxyaddress="http://127.0.0.1:8888"/>
		</defaultProxy>
	</system.net>-->

</configuration>
