<?xml version="1.0" encoding="utf-8"?>
<RouteTable xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
						xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Routes>
		<!--注意：
		路由规则的配置要求有3个参数：namespace， controller， action
		要么做为URL中的参数占位符，要么直接指定。
		命名空间允许使用别名，用NamespaceMapAttribute指定-->

		<!--没有提供默认参数的路由规则，但是URL是必需指定的-->
		<Route url="mvc-routing/{namespace}/{controller}/{action}" />

		<!--URL中指定2个参数占位符，namespace直接指定固定值-->
		<Route url="mvc-routing-2/with-datataken-full-namespace/{controller}/{action}" >
			<namespace>DEMO.Controllers.Services</namespace>			
		</Route>
		
		<!--使用命名空间的别名-->
		<Route url="mvc-routing-3/with-datataken-short-namespace/{controller}/{action}" >
			<namespace>ns</namespace>
		</Route>

		<!--只指定URL模式，允许指定其它参数名供Action接收，	namespace， controller， action 全部由配置指定。-->
		<Route url="file-download/demo1/{filename}" >
			<namespace>DEMO.Controllers.Services</namespace>
			<controller>TestFile</controller>
			<action>Download2</action>
		</Route>
	</Routes>
</RouteTable>